@import "tailwindcss";

@theme {
  --color-primary: #008D85;
  --color-primary-hover: #006F69; 
  --color-sidebar: #0F172A;      
  --color-sidebar-text: #F8FAFC; 
  --color-bg-body: #F1F5F9;   
  --color-surface: #FFFFFF;   
  --color-border: #E2E8F0;    
  --color-text-main: #1E293B; 
  --color-text-sub: #64748B;  
  --color-danger: #EF4444;    
  --color-success: #10B981;   
  --color-warning: #F59E0B;   
  --max-width-custom: calc(100% - 48px);
}
.btn-primary{
  max-width: 120px;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-text-main);
  padding: 10px 20px;
  border-radius: 40px;
  transition: background-color 0.3s;

  &:hover{
    background-color: var(--color-primary-hover);
  }
}